* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Tahoma";
    font-size: 16px;
}

.clear {
    clear: both;
}

.wrapper {
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ec671c;
}

.header .logo {
    float: left;
}

.imglogo {
    max-width: 300px;
    height: auto
}

.header .menu {
    float: right;
    margin-top: 40px;
}

.header .menu ul li {
    float: left;
}

.header .menu ul li a {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.header .menu ul li a:hover,
.header .menu ul li.active a {
    background-color: #ec671c;
    color: white;
    border-radius: 5px;
}

/***********************************************/
.section {
    margin-top: 40px;
}

.section>div.title {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ec671c;
    font-weight: bold;
    color: white;
    text-align: center;
}

/************************************************/

.vitrin .products ul li {
    margin: 20px 10px;
    max-width: 225px;
    height: auto;
    float: left;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.vitrin .products ul li img {
    width: 100%;
    padding: 10px;
}

/************************************************/

.blog .items {
    margin-top: 20px;
}

.blog .items ul li {
    width: 500px;
    float: left;
    margin-left: 20px;
}

.blog .items ul li:first-child {
    margin-left: 0;
}

.blog .items ul li img {
    width: 120px;
    height: 120px;
    float: left;
}

.blog .items ul li .text {
    width: 370px;
    float: left;
    margin-left: 10px;
}

.blog .items ul li .text p {
    font-size: 12px;
    margin: 5px;
}

.blog .items ul li .text p.title {
    margin-top: 0;
    margin-bottom: 0px !important;
    font-weight: bold;
    font-size: 14px;
}

.blog .items ul li .text p.date {
    display: inline-block;
    background-color: black;
    padding: 5px;
    color: white;
}

/************************************************/

.footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid grey;
    font-size: 12px;
    color: gray;
    text-align: center;
}

/************************************************/

.product-card {
    display: inline;
}

.product-image {
    float: left;
    max-width: 225px;
    margin: 20px 40px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.product-image img {
    padding: 10px;
    width: 100%;
}

.product-name {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    margin: 60px 20px 20px 20px;
    text-align: center;
    padding: 20px;
}

.product-price {
    display: inline-block;
    margin-left: 90px;
    text-align: center;
    width: 200px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
}

#quantity {
    display: inline-block;
    margin: 0 50px -20px 30px;
    width: 105px;
    border: 2px solid #828282;
    border-radius: 80px;
}

.num {
    width: 40px;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    float: left;
    background: transparent;
    border: none;
    outline: none;
}

.minus {
    float: left;
}

.pls {
    float: right;
}

.plus {
    color: #ec671c;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.postData {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #ec671c;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

/************************************************/

.cart-header {
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    color: #fff;
}

.cart-row {
    display: flex;
    text-align: center;
    margin: 20px;
}

.cart-title {
    display: flex;
    text-align: center;
    background-color: black;
    color: white;
    margin: 20px;
}

.cart-item {
    width: 55%;
}

.cart-image {
    display: inline-block;
    margin: 10px 25px;
}

.cart-span {
    margin: 0 10px;
    font-weight: bolder;
    font-size: 16px;
}

.cart-price {
    width: 20%;
}

.cart-quantity {
    width: 25%;
}

.cart-priqu {
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: bolder;
}


.cart-quantity-input {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.cart-num {
    width: 40px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    float: left;
    background: transparent;
    border: none;
    outline: none;
}


.cart-total {
    float: right;
    width: 100%;
    padding: 30px 50px;
    background-color: #ffffff;
    border: 1px solid #828282;
    border-radius: 17px;
    margin-right: 45px;
    max-width: 460px;
    color: #1b1b29;
    font-size: 18px;
}

.cart-total-title {
    display: inline-block;
    margin: 20px;
}

.cart-total-price {
    float: right;
    margin: 20px;
}

.proceed-check {
    background-color: #ec671c;
    border-radius: 17px;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bolder;
    text-align: center;
}

.btn-buy {

    color: white;
}

.btn-buy:hover {

    color: white;
    text-decoration: none;
}

#quantity-cart {
    display: inline-block !important;
    border: 2px solid #828282;
    border-radius: 80px;
    height: 50px;
    padding: 10px;
}

#quantity-cart .plus {
    float: left;
    color: #ec671c;
    font-weight: bolder;
    padding: 0px 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.cart-num {
    width: 40px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    float: left;
    background: transparent;
    border: none;
    outline: none;
}

.cart-total {
    float: right;
    width: 100%;
    padding: 30px 50px;
    background-color: #ffffff;
    border: 1px solid #828282;
    border-radius: 17px;
    margin-right: 45px;
    max-width: 460px;
    color: #1b1b29;
    font-size: 18px;
}

.grand-total {
    display: inline-block;
    width: 100%;
    margin: 19px 0 45px;
}

.grand-total span {
    float: right;
}

.proceed-check {
    background-color: #ec671c;
    border-radius: 17px;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bolder;
    text-align: center;
}

.btn-buy {

    color: white;
}

.btn-buy:hover {

    color: white;
    text-decoration: none;
}